.default-color0.chart-pie { -fx-pie-color: #F79D84; }
.default-color1.chart-pie { -fx-pie-color: #FAC05E; }
.default-color2.chart-pie { -fx-pie-color: #3FA7D6; }
.default-color3.chart-pie { -fx-pie-color: #59CD90; }
.default-color4.chart-pie { -fx-pie-color: #EE6352; }