.managing-container {
    -fx-background-color: WHITE;
}

.option {
    -fx-background-radius: 10px;
    -fx-border-radius: 20px;
    -fx-background-color: #BDFEDC;
}
.option:hover {
    -fx-background-color: #2772aa;
}