.login-container {
    -fx-background-color: #E9E9E9;
    -fx-background-radius: 10px;
    -fx-border-radius: 20px;
}

.login-info {
    -fx-background-color: WHITE;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.button {
    -fx-background-radius: 20px;
    -fx-min-width: 270px;
    -fx-min-height: 40px;
    -fx-border-radius: 20px;
}
#login-button {
    -fx-text-fill: white;
    -fx-background-color: black;
}
#login-google-button {
    -fx-background-color: #E9E9E9;
    -fx-border-color: black;
    -fx-text-fill: black;
}
